<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo">
  <description>@description@</description>
  <website>@website@</website>
  <status>@status@</status>
  <license>LGPL 2.1</license>
  <copyright>true</copyright>
  <type>library</type>
  <target>existdb-saml</target>
  <prepare />
  <finish>post-install.xql</finish>
  <permissions user="exsaml" group="dba" password="exsamlpass" mode="rwxrwxr-x"/>
</meta>
